################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/backend/.vs

# DS Store
.DS_Store

frontend/node_modules