################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################
*/.idea/*
/.vs
/backend/.vs

# DS Store
.DS_Store

Code/frontend/node_modules
