################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################
*/.idea/*
/.vs

# DS Store
.DS_Store

Code/frontend/node_modules
Code/backend/.vs
Code/frontend/dist
*.tar.gz
